/*
 * yellow
 * #fff7e2 back
 * #e6be61 border
 *
 * blue
 * #a9c4e1 back
 * #5198e1 border
 */

body, div, *
{
	border: 0;
	margin: 0;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	-moz-border-radius: 8px 0px 8px 0px;
}

body
{
	text-align: center;
}

table, tr, td, th
{
	-moz-border-radius: 0px;
	border: 1px solid black;
}

p
{
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

a
{
	font-weight : bold;
	text-decoration : none;
}

A:link, A:visited, A:active, A:hover
{
	color: #07478a;
}

ul, li
{
	border: 0;
	padding: 0;
	list-style-type: none;
}

h1
{
	margin-top: 0.75em;
	margin-bottom: 0.75em;
	padding: 0.75em;

	color: #07478a;
	background-color: #fff7e2;
	border: 1px solid #e6be61;
	font-size: large;
	text-align: center;
}

h2, h3
{
	margin-top: 0.75em;
	margin-bottom: 0.75em;
	margin-left: 2em;
	padding: 0.75em;

	color: #07478a;
	background-color: #fff7e2;
	border: 1px solid #e6be61;
	font-size: small;
	font-style: italic;
}

div
{
	padding: 0.5em;
}

div.content
{
	display: none;
	padding: 1em;

	background-color: #ffffff;
	border: 1px solid #e6be61;
}

div.content ul
{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

div.content li
{
	padding-left: 2em;
}

div.content li li
{
	padding-left: 2em;
}

div.content table
{
	margin: 0.75em;
}

div.content p
{
	margin: 0.25em;
}

div.content-container
{
	padding: 0;
	margin-left: 188px;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
}

div.code
{
	font-family: monospace;

	background-color: #a9c4e1;
	border: 1px solid #5198e1;
	padding: 0.5em;
	margin-left: 4em;
	margin-right: 4em;
	margin-top: 0em;
	margin-bottom: 0em;
	-moz-border-radius: 4px;
}

div#main
{
	background: #f0f0f0;
	border: 1px solid black;

	width: 95%;
	min-width:600px;
	max-width:1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

div#title
{
	padding: 1em;
	margin-bottom: 8px;
	color: #07478a;
	background-color: #fff7e2;
	border: 1px solid #e6be61;
}

div#title td
{
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	color: #07478a;
	border: 0;
}

div#footer
{
	padding: 1em;
	margin-top: 8px;
	background-color: #fff7e2;
	border: 1px solid #e6be61;
}

div#title table, div#title td, div#footer table, div#footer td
{
	border: 0;
	margin: 0;
	padding: 0;
}

div#menu
{
	float: left;
	width: 180px;
	padding: 0;

	background-color: #ffffff;
	border: 1px solid #e6be61;
}

div#menu-content li
{
	margin: 0.25em;
	padding-left: 0.25em;
	padding-right: 0.25em;

	-moz-border-radius: 8px 8px 8px 8px;
	border: 1px solid #ffffff;
}

div#menu-content li#selected
{
	background-color: #f8f8f8;
	border: 1px solid #d0d0d0;
}

div#menu-content li:hover, div#menu-content li#selected:hover
{
	background-color: #fff7e2; /* yellow */
	border: 1px solid #e6be61;
}

input.search
{
	width:100%;
	border: 1px solid #e6be61;
	-moz-border-radius: 4px;
	font-weight: normal;
}

div.menu-title
{
	color: #07478a;
	font-weight: bold;
	font-style: italic;
	background-color: #fff7e2; /* yellow */
	border: 1px solid #e6be61;
}

img.screenshot
{
	float: left;
	height: 96px;
	margin-right: 16px;

	border: 1px solid black;
	-moz-border-radius: 0px;
}

img.fixed-screenshot
{
	margin-right: 16px;

	border: 1px solid black;
	-moz-border-radius: 0px;
}

div.dataset
{
	margin: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 5em;
	padding: 1em;
	background-color: #f8f8f8;
	border: 1px solid #d0d0d0;
}

table.dataset3, table.dataset3 td, table.dataset3 tr
{
	border: 0;
	margin: 0;
	padding: 0;
}

table.dataset3
{
	width: 100%
}

div.archive
{
	margin: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 5em;
	padding: 1em;
	background-color: #f8f8f8;
	border: 1px solid #d0d0d0;
	height: 112px;
}

div.older-archive
{
	margin: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 5em;
	padding: 1em;
	background-color: #f8f8f8;
	border: 1px solid #d0d0d0;
	height: 112px;
}

div.virtualmachine
{
	margin: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 5em;
	padding: 1em;
	background-color: #f8f8f8;
	border: 1px solid #d0d0d0;
	height: 196px;
}

div.older-virtualmachine
{
	margin: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 5em;
	padding: 1em;
	background-color: #f8f8f8;
	border: 1px solid #d0d0d0;
	height: 196px;
}

div.installer
{
	margin: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 5em;
	padding: 1em;
	background-color: #f8f8f8;
	border: 1px solid #d0d0d0;
	height: 112px;
}

div.older-installer
{
	margin: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 5em;
	padding: 1em;
	background-color: #f8f8f8;
	border: 1px solid #d0d0d0;
	height: 112px;
}

div.old-download
{
	display: none;
	padding: 0;
	border: 0;
	margin: 0;
}

li:before
{
	margin-left: .25em;
	margin-right: .25em;
	content: url(tick.png);
}

#menu li:before
{
	content: none;
}

a.archive:before
{
	margin-left: .25em;
	margin-right: .25em;
	content: url(package-archive.png);
}

a.virtualmachine:before
{
	margin-left: .25em;
	margin-right: .25em;
	content: url(package-virtual-machine.png);
}

a.installer:before
{
	margin-left: .25em;
	margin-right: .25em;
	content: url(package-installer.png);
}

a.leaving-link:after
{
	margin-left: .25em;
	margin-right: .25em;
	content: url(leaving.png);
}

div.clear-both
{
	clear: both;
	margin: 0;
	padding: 0;
}

div.clear-left
{
	clear: left;
	margin: 0;
	padding: 0;
}

div.clear-right
{
	clear: right;
	margin: 0;
	padding: 0;
}

form.register
{
	background-color: #e1a9a9;
	border: 1px solid #e15151;
	padding: 0.5em;
	margin-left: 4em;
	margin-right: 4em;
	margin-top: 0em;
	margin-bottom: 0em;
	-moz-border-radius: 4px;
}

form.register table, form.register td, form.register table, form.register td
{
	border: 0;
	margin: 0;
	padding: 0.25em;
}

form.register .register
{
	padding: 0.15em;
	margin: 0.15em;
	-moz-border-radius: 4px;
}
